<div class="container-fluid">
    <div class="row" style="padding: top 2px; ;">
        <div class="col-md-12" style="text-align: center; background-color: white;">
            <img src="assets/logo.png" width="100%" class="img-fluid">

        </div>
    </div>
</div>
<div>
    <h5 class="heading">About Placement Cell</h5>
    <p>The placement cell has been functioning on our campus since 1998. Placement Cell serves as a bridge between the academic world and the professional realm, facilitating the transition of students from the classroom to the workplace.</p>
    <p>Placement Cells have evolved significantly over the years and moved beyond merely organizing campus interviews to offering comprehensive career development services. The integration of technology has streamlined the job search process, allowing students to access job listings and resources online.</p>
    <p>Furthermore, Placement Cells now recognize the importance of holistic development. We focus on nurturing not only technical skills but also interpersonal skills, emotional intelligence, and adaptability, as these qualities are highly valued by employers.</p>
    <h5 class="heading">Functions of a Placement Cell:</h5>
    <ol>
        <li><b>Career Guidance:</b> The Placement Cell offers students guidance and counseling to help them identify their career goals and aspirations. It assists in clarifying career paths, choosing suitable courses, and developing relevant skills.</li>
        <li><b>Industry Connections:</b> Establishing strong relationships with industry professionals and organizations is a core function of the Placement Cell. We collaborate with companies to create internship opportunities, conduct campus recruitment drives, and foster industry-academia partnerships.</li>
        <li><b>Job Postings:</b> The Placement Cell disseminates information about job openings and internships, ensuring students are aware of relevant opportunities which significantly reduce the stress and anxiety associated with job hunting.</li>
    </ol>
</div>